ignore-scripts=false
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=youtube-dl-exec
onlyBuiltDependencies[]=@sentry/cli
onlyBuiltDependencies[]=@sentry/node-cpu-profiler
